.router-active-class {
  background: rgba(116, 96, 51, 0.8);
}
.clearfix {
  *zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.w-100 {
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.border-line {
  border-bottom: 1px solid #ccc;
}
.t-center {
  text-align: center;
}
.c-pointer {
  cursor: pointer;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.red {
  color: red;
}
.response-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.response-image {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.separate-line {
  height: 10px;
  background: #f3f3f3;
}
